* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

#content {
    height: 100vh;
    width: 100vw;
    background-image:url('../assets/images/wooden_floor.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.navBar {
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid #FFF;
}

.navBar a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.5rem;
    margin-left: 50px;
    margin-right: 50px;
}

.navBar h1 {
    font-size: 3rem;
}

.footer {
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    padding: 10px;
    border-top: 2px solid #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.5rem;
}

.footer a:nth-child(2) {
    font-size: 1.2rem;
}

/* HOME PAGE */
.home {
    width: 90vw;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding: 20px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 1%;
}

.home p {
    font-size: 1.4rem;
}


.home img {
    width: 500px;
    height: 400px;
    border: 2px solid #FFF;
    border-radius: 25%;
}

/* MENU PAGE */
.menu {
    width: 90vw;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 1%;
}

.menu div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #FFF;
    border-radius: 10px;
}

.menu div p {
    font-size: 1.2rem;
}

/* CONTACT PAGE */
.contact {
    width: 90vw;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 1%;
}

.contact .wrapper {
    display: flex;
}

.contact .wrapper div {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}
